@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

:root {
    --cor01: #a1c4fd;
    --cor02: #c2e9fb; 
    --cor03: #fdfcfba9;
    --fonte01: 'Great Vibes'
}

* { 
    padding: 0px;
    background-attachment: fixed;
}

body {
    background-image: linear-gradient(to bottom, var(--cor01), var(--cor02));
    background-size: contain;
} 

section {
    margin-top: 75px;
    margin-right: auto;
    margin-bottom: 75px;
    margin-left: auto;
    width: 800px;
    height: 100%;
    background-color: var(--cor03);
    border-radius: 4px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.222);
}

div {
    display: inline-block;
}

div img {
    width: 357px;
    height: 100%;
    display: block;
    border-radius: 4px;
}

div#txt1 {
    position: absolute;
    width: 357px;
    height: 100%;
    text-align: justify;
    font-size: 100%;
    display: inline-block;
    padding: 50px;
}

#txt2 {
    position: absolute;
    width: 357px;
    height: 100%;
    text-align: justify;
    font-size: 100%;
    display: inline-block;
    padding: 50px;
}
    
#img2 {
   position: relative;
   padding-left: 55.5%;
}

.imagem {
    opacity: 100%;
}

.imagem:hover {
    opacity: 80%;
}

h1 {
    font-family: var(--fonte01);
    font-size: 2em;
}

p {
    line-height: 1.3em;
    font-size: 1.1em;
}